body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    top: 0;
    left: 0; 
    z-index: 1000;
}

header h1 {
    margin: 0;
}

main {
    margin-top: 110px; 
    margin-bottom: 50px; 
    padding: 20px; 
    text-align: center;
}

main p {
    font-size: 1.0em;
    margin: 20px 0;
}

.sorting-container {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sorting-container form {
    display: flex;
    align-items: center;
}

.sorting-container label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.sorting-container select {
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 1em;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.sorting-container select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.sorting-container select:hover {
    border-color: #007bff;
}

table {
    width: 100%; 
    border-collapse: collapse; 
}

table th, table td {
    border: 1px solid #ddd; 
    padding: 8px; 
}

table th {
    background-color: #333;
    color: #fff; 
}

table tr:nth-child(even) {
    background-color: #f2f2f2; 
}

table td form {
    margin: 0; 
}

table td input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none; 
    padding: 5px 10px;
    border-radius: 3px; 
    cursor: pointer; 
}

table td input[type="submit"]:hover {
    background-color: #555; 
}

table a {
    color: #333; 
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1em;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #555;
    color: #fff;
}

.pagination span {
    padding: 5px 10px;
    font-weight: bold;
}

main a.menu-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

main a.menu-link:hover {
    background-color: #555;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    text-align: center;
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    left: 0; 
    z-index: 1000; 
}
